*{
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
    line-height:1.6;
    margin:0 auto;
    max-width: 720px;
    padding: 12px;
}

h1:has(+ #date) {  
  margin-bottom: 0;  
}  
h1 + #date {  
  margin-top: 0;  
}

blockquote {
    border-left: 4px solid;
    margin: 2em 0 2em 2em;
    padding: 2px 8px;
}
blockquote p {
  font-style: italic;
  margin: 0;
  padding: 0;
}
img {
    max-width: 100%;
}
pre {
    border: 1px solid;
    overflow: auto;
    padding: 5px;
}
table {
    text-align: left;
    width: 100%;
}
#menu,
.posts {
    list-style: none;
    padding: 0;
}
.posts li {
    margin-bottom: 8px;
}
.posts li span {
    display: block;
    font-size: 90%;
}
#menu li {
    display: inline-block;
    margin-right: 8px;
}
figure {
  margin: 3em 0;
}
figure img {
  width: 100%;
}
figcaption {
    font-size: 90%;
}
footer {
  border-top: 1px dotted;
  margin: 2em 0;
}
footer nav ul {
    list-style: none;
    padding: 0;
}
footer nav ul li {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.footnotes {
    font-size: 90%;
}
code {
    background-color: #000;
    color: #f1f1f1;
    border-radius: 0.2rem;
    padding: 0.1rem;
}
pre:has(code) {
    border: 2px solid #f9f9f9;
    background-color: #000;
    color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
